<h1 class="title">Users > List</h1>
<div class="table-container">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
    <tr>
      <th>Email</th>
      <th>remember_created_at</th>
      <th>Created at</th>
    </tr>
    </thead>
    <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.remember_created_at %></td>
        <td id="created-at"><%= user.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>