// Place all the styles related to the encodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.pic-container {
  height: 300px;
  overflow-y: scroll;
}

.table-container {
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
  white-space: nowrap;
}