<nav class="breadcrumb is-large" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to controller_name, root_path %> </li>
    <li class="is-active"><a href="#" aria-current="page"><%= action_name %></a></li>
  </ul>
</nav>