<nav class="navbar has-background-grey-lighter">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <img src="<%= image_url('CW_OVP_LOGO_200x200.png') %>" height="28"> CW-OVP
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to Encode.model_name, encodes_path, class: "navbar-item #{'is-active' if controller.controller_name == Encode.model_name.to_s.downcase+'s' }" %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Search . . .">
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>