<aside class="column is-2 aside">
  <nav class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a class="is-active" href="#"><span class="icon is-small"><i class="fa fa-tachometer"></i></span> Dashboard</a></li>
    </ul>
    <p class="menu-label">
      Administration
    </p>
    <ul class="menu-list">
      <li><a href="/bulma-admin-dashboard-template/forms.html"><span class="icon is-small"><i class="fa fa-pencil-square-o"></i></span> Forms</a></li>
      <li><a href="/bulma-admin-dashboard-template/ui-elements.html"><span class="icon is-small"><i class="fa fa-desktop"></i></span> UI Elements</a></li>
      <li><a href="/bulma-admin-dashboard-template/tables.html"><span class="icon is-small"><i class="fa fa-table"></i></span> Tables</a></li>
      <li><a href="/bulma-admin-dashboard-template/presentations.html"><span class="icon is-small"><i class="fa fa-bar-chart"></i></span> Presentations</a></li>

      <li>
        <a class=""><i class="fa fa-cog"></i> Settings</a>
        <ul>
          <li><a>Members</a></li>
          <li><a>Plugins</a></li>
          <li><a>Add a member</a></li>
        </ul>
      </li>
    </ul>
    <p class="menu-label">
      Live On
    </p>
    <ul class="menu-list">
      <li><a><span class="icon is-small"><i class="fa fa-bug"></i></span> Additional Pages</a></li>
      <li><a><span class="icon is-small"><i class="fa fa-windows"></i></span> Extras</a></li>
      <li><a rel="noopener" target="_blank" href="https://mazipan.space/"><span class="icon is-small"><i class="fa fa-laptop"></i></span> Landing Page</a></li>
    </ul>
  </nav>
</aside>