<% if notice.present? %>
  <div class="columns">
    <div class="column">
      <p class="notification is-success">
        <button class="delete"></button>
        <%= notice %>
      </p>
    </div>
  </div>
<% end %>